*~
*.log
boost_*.7z
boost_*.tar.bz2
cgnslib*.tar.gz
dirExt.prop
dirExt-debug-vtk-leaks.prop
expat-*.zip
gdal-*.tar.gz
geos-*.tar.bz2
hdf5-*.tar.gz
hdf5-*.zip
iriclib-*.zip
lib
lib*
libpng-*.tar.xz
netcdf-*.tar.gz
netcdf-*.zip
OpenSSL_*.zip
paths.pri
paths-debug-vtk-leaks.pri
programs.prop
proj-*.tar.gz
proj-*.zip
qwt-*.tar.bz2
qwt-*.zip
shapelib-*.tar.gz
shapelib-*.zip
SZip.tar.gz
udunits-*.tar.gz
VTK-*.tar.gz
VTK-*.zip
yaml-cpp-*.tar.gz
yaml-cpp-*.zip
ZLib.tar.gz
