lib
*.log
boost_*.7z
cgnslib*.tar.gz
dirExt.prop
gdal-*.tar.gz
geos-*.tar.bz2
hdf5-*.tar.gz
hdf5-*.zip
iriclib-*.zip
netcdf-*.zip
paths.pri
proj-*.zip
qwt-*.zip
shapelib-*.zip
SZip.tar.gz
VTK-*.zip
yaml-cpp-*.zip
ZLib.tar.gz
